version: "3.2"

services:

  backend:
    container_name: backend
    image: website-backend
    restart: unless-stopped
    command: 'uvicorn main:app --host 0.0.0.0 --port 8000'
    environment:
      - WEBHOOK_URL={{ webhook_url }}
      - WEBHOOK_PREFIX={{ webhook_prefix }}
    network_mode: host
